.about-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #dad6d6;
}

.about-card {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: 
  "info image"
  "contact-title contact-title"
  "social social"
  ;
  background-color: rgb(0,0,0);
  border-radius: 15px;
  padding-top: 1rem;
}

.about-image {
  grid-area: image;
  position: relative;
  width: auto;
  margin: auto;
}

.about-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.filter-strip {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgba(237, 47, 48, 0.6);
  backdrop-filter: invert(70%);
  z-index: 10;
  transform: rotate(10deg);
}

.about-info {
  grid-area: info;
  padding: 15px 15px 0 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-subtitle, .contact-header{
  font-family: 'Orbitron';
}

.about-subtitle {
  text-align: center;
}

.about-info {
  font-family: 'Space Mono';
}

.contact-container {
  grid-area: contact-title;
}

.contact-header {
  padding-left: 20px;
  margin: 0;
}

.social-container {
  grid-area: social;
  padding: 15px 0;
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.social-media {
  border-radius: 15px;
  background-color: #541570;
  width: 30%;
  padding: 20px;
  position: relative;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.social-media:hover .social-image {
  opacity: 0;
}

.social-media:hover .social-description {
  opacity: 1;
}

.social-image {
  width: 50px;
  height: auto;
  display: block;
  transition: opacity 0.3s;
}

.social-description {
  font-family: 'Orbitron';
  position: absolute;
  top: 40%;
  left: 10%;
  opacity: 0;
  margin: 0;
  font-size: 1rem;
  color: white;
  transition: opacity 0.3s;
  text-align: center;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .about-container {
    width: 90%;
  }

  .about-image {
    padding-top: 15px;
  }

  .about-card {
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    padding-top: 30px;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 0;
  }
}