:root {
  --body-color: #070915;
  --accent-color: #d747eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100dvh;
}

body {
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  place-items: center;
}

.header-logo {
  flex: 40%;
  padding-left: 2%;
  margin: auto;
  cursor: url('../logos/finger.png'), pointer;
  text-decoration: none;
  color: #c2c6c7;
  font-family: 'Orbitron';
  letter-spacing: 2px;
}

.header-logo:hover {
  color: var(--accent-color);
}

.nav-menu-list {
  flex: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  gap: 20px;
}

.nav-menu-item {
  /* font-family: 'Google Sans Code'; */
  font-weight: normal;
  letter-spacing: 0.3rem;
  cursor: url('../logos/finger.png'), pointer;
  padding: 7px;
  /* font-family: 'Orbitron'; */
  font-family: 'Space Mono';
  position: relative;
  background-color: var(--body-color);
}

.nav-menu-item {
  text-decoration: none;
  color: #edf1f1;
}

/* .nav-menu-item [aria-current="page"] {
  color: #D747EB;
} */

@property  --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.nav-menu-item:hover::after, .nav-menu-item:hover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, var(--accent-color));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1.5px;
  border-radius: 3px;
  animation: 2s spin linear infinite;
}

.nav-menu-item:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  } 
  to {
    --angle: 360deg;
  } 
}

.main {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-intro-section {
  border-radius: 15px;
  height: 70%;
  display: flex;
  position: relative;
  width: 90%;
  background-color: rgb(0,0,0);
}

.intro-image-container, .intro-layer, .intro-text {
  position: absolute;
}

.intro-image-container {
  border-radius: 15px 15px 15px 0;
  background-image: url(../images/test_image.jpg);
  background-size: cover;
  height: 100%;
  width: 50%;
  z-index: 10;
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
  right: 0;
}

.intro-layer {
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0,0,0, 0.5);
  transform: translate(-35%);
  clip-path: polygon(0 0, 87% 0, 69% 79%, 0 79%);
}

.intro-text {
  width: 60%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-wrap: nowrap;
  padding-left: 20px;
  gap: 2rem;
}

.intro-subtitle {
  color: var(--accent-color);
  font-weight: 100;
  font-family: 'Tourney Condensed';
  font-style: italic;
  font-size: 3rem;
}

.intro-paragraph {
  color: #B9B9B9;
  font-family: 'Space Mono';
  text-wrap: wrap;
  font-size: 1.3rem;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .header {
  display: flex;
  }

  .nav-menu-list {
    flex-direction: column;
    padding-right: 0;
    align-items: flex-end;
  }

  .nav-menu-item {
    background-color: transparent;
  }

  .intro-text {
    text-wrap: wrap;
  }

  .intro-subtitle{
    font-size: 3rem;
  }

  .intro-paragraph {
    font-size: 1rem;
  }
}