:root {
  --body-color: #070915;
  --accent-color: #d747eb;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
}

body {
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  margin: 30px 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  place-items: center;
}

.header-logo {
  flex: 20%;
  padding-left: 2%;
  margin: auto;
  cursor: url('../logos/finger.png'), pointer;
  text-decoration: none;
  color: #c2c6c7;
  font-family: 'Orbitron';
  letter-spacing: 2px;
}

.header-logo:hover {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(270deg, #d747eb, #b30048);
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-menu-list {
  flex: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  gap: 20px;
}

.nav-menu-item {
  /* font-family: 'Google Sans Code'; */
  font-weight: normal;
  letter-spacing: 0.3rem;
  cursor: url('../logos/finger.png'), pointer;
  padding: 7px;
  /* font-family: 'Orbitron'; */
  font-family: 'Space Mono';
  position: relative;
  background-color: var(--body-color);
}

.nav-menu-item {
  text-decoration: none;
  color: #edf1f1;
}

/* .nav-menu-item [aria-current="page"] {
  color: #D747EB;
} */

@property  --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.nav-menu-item:hover::after, .nav-menu-item:hover::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 70%, var(--accent-color));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 1.5px;
  border-radius: 3px;
  animation: 2s spin linear infinite;
}

.nav-menu-item:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  } 
  to {
    --angle: 360deg;
  } 
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .header {
  display: flex;
  }

  .nav-menu-list {
    flex-direction: column;
    padding-right: 0;
    align-items: flex-end;
  }

  .nav-menu-item {
    background-color: transparent;
  }
}