@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-Light.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-ExtraBold.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-SemiBold.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-Regular.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-Medium.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/google_sans_code/GoogleSansCode-Bold.woff2') format('woff2'),
      url('../fonts/google_sans_code/GoogleSansCode-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-Regular.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-Black.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-Bold.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-SemiBold.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-ExtraBold.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/orbitron/Orbitron-Medium.woff2') format('woff2'),
      url('../fonts/orbitron/Orbitron-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-Light.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-SemiBold.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-Medium.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/space_grotesk/SpaceGrotesk-Light.woff2') format('woff2'),
      url('../fonts/space_grotesk/SpaceGrotesk-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space_mono/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/space_mono/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space_mono/SpaceMono-Regular.woff2') format('woff2'),
      url('../fonts/space_mono/SpaceMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tourney';
  src: url('../fonts/tourney/Tourney-Light.woff2') format('woff2'),
      url('../fonts/tourney/Tourney-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tourney';
  src: url('../fonts/tourney/Tourney-Medium.woff2') format('woff2'),
      url('../fonts/tourney/Tourney-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tourney';
  src: url('../fonts/tourney/Tourney-Thin.woff2') format('woff2'),
      url('../fonts/tourney/Tourney-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tourney';
  src: url('../fonts/tourney/Tourney-Regular.woff2') format('woff2'),
      url('../fonts/tourney/Tourney-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}